doctype html 
html
  head
    title K's DANCE ACADEMY
    block scripts
    block style 
  body

    nav#navbar
      ul
        div#logo
          img(src="http://pluspng.com/img-png/hip-hop-dance-png-black-and-white-36810839-hip-hop-images-png-1000-1000-1000.png")
          | KDA
        li #[a(href="/")  Home] 
        li #[a(href="/")  About] 
        li #[a(href="/")  Services] 
        li #[a(href="/")  Class Info] 
        li #[a(href="/contact")  Contact Us]
    block content
    footer#footer
      | Copyright © 2022 KuldeepDanceAcademy.com  ! All Rights Reserved. 